body, html {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	color: #31322C;
	font-size: 18px;
	line-height: 1.5em;
	min-width: 980px;
}

a{
	text-decoration: none;
	color: #fff;
}


/****************************** WATER **********************/
.block_title {
	text-align: center;
	margin: 20px 0;
}

#orderform_bg {
	background-color: #EAFEE5;
}

#header_bg {
	/*background-color: #2DA511;*/
	background: linear-gradient(to top, #2C9D09, #33CC33);
	padding: 20px 0;
}

#header {
	color: #fefefe;
	/*font-size: 16px;*/
}

.header_cont {
	font-size: 24px;
	font-weight: bold;
}

#header .span6 .row {
	margin: 10px 0;
}

#navbar_bg {
	margin: 20px 0 0;
	font-size: 18px;
}

#navbar_bg {
	background:linear-gradient(to top, #2C9B07, #35BE07);

}

.nav_item {
	display: inline-block;
	padding: 10px;
	cursor: pointer;
	color: #fefefe;
	-webkit-transition: color 0.2s linear;
	     -moz-transition: color 0.2s linear;
	       -o-transition: color 0.2s linear;
	          transition: color 0.2s linear;
}
.nav_item:hover {
	color:#535353;
}
.first_item {
	font-weight: bold;
	color: #FFFF00;
}



#hero_bg {
	background-image: url(/include/images/hero_new.jpg);
	background-position: center; 
	height: 737px;
}
#water_counter {
	padding: 10px;
	background-color: #30B821;
	color: #fefefe;
	border: 2px solid #99FF99;
}
#water_counter select{
	width: 50px;

}

#description_bg {
	padding: 20px 0;
	line-height: 1.5em;
	background-color: #EAFEE5;
}
/*
#reviews_background {
	background-color: #91DCF3;
}*/

#reviews_background ul li{line-height: 1.5em ;}

#reviews .span3 img {
	display: block;
	margin: 0 auto;
}
#reviews .span9 {
	padding-right:50px; 
}
#portfolio_row img {
	width: 180px;
}
#portfolio_background {
	/*background-color: #EAFEE5;*/
	-moz-box-shadow:    inset 0  8px 8px -8px #696868, 
                        inset 0 -8px 8px -8px #696868;
    -webkit-box-shadow: inset 0  8px 8px -8px #696868, 
                        inset 0 -8px 8px -8px #696868;
     box-shadow:        inset 0  8px 8px -8px #696868, 
                        inset 0 -8px 8px -8px #696868;
}
#dostavka_bg {
	padding: 20px 0;
	-moz-box-shadow:    inset 0  8px 8px -8px #696868, 
                        inset 0 -8px 8px -8px #696868;
    -webkit-box-shadow: inset 0  8px 8px -8px #696868, 
                        inset 0 -8px 8px -8px #696868;
     box-shadow:        inset 0  8px 8px -8px #696868, 
                        inset 0 -8px 8px -8px #696868;
}

#shedule_bg {
	height: 300px;
	padding: 20px 0;
	background-image: url(/include/images/bg.jpg);
	background-position: center;
}
#shedule .row-fluid div {
	font-size: 20px;
	height: 30px;
}
#formorder .span12 {
	font-size: 12px;
}

#formorder {
	margin-bottom: -10px;
}
.shedule_title {
	margin: 20px 0;
	font-size: 26px;
	font-weight: bold;
}
#consist_bg {
	background-color: #EAFEE5;
	position: relative;
}
#consist {
	font-size: 32px;
	line-height: 42px;
	padding-bottom: 69px;
}
#consist_table_title {
	border-bottom: 2px solid #0D4500;
	padding: 10px 0;
	margin: 10px 0 20px; 
}
.consist_middle_span {
	text-align: center;
}

#consist_grass {
	height: 69px;
	width: 100%;
	background-image: url(/include/images/trava.png);
	position: absolute;
	bottom: -1px;
}
#footer_bg {
	background-color: #2C9A07;
	padding: 30px 0 10px;
}
#footer {
	color: #fefefe;
	font-size: 24px;
	line-height: 50px;
}

#logo_ss {
	float:right;
}
#bottom_line {
	margin-top: 40px;
	font-size: 18px;
}

#more_link {
	display: none;
}
#lesslink {
	display: none;
}
.myModal form{
	margin: 0;
}

.myModal input:not([type="radio"]) {
	width: 330px;
}
.auth_links {
	padding-bottom: 10px;
}

.auth_links a {
	font-size: 14px;
}

#entreg div {
	cursor: pointer;
	font-size: 16px;
	color: #535353;
	font-weight: bold;
	-webkit-transition: color 0.2s linear;
	     -moz-transition: color 0.2s linear;
	       -o-transition: color 0.2s linear;
	          transition: color 0.2s linear;
}
#entreg div:hover {
	color:#FEFEFE;
}

.success_block {
	width: 300px;
	/*height: 200px;*/
	border: 1px solid #55B3E5;
	border-radius: 10px;
	padding: 15px;
	line-height: 30px;
	text-align: center;
	background-color: #EAFEE5;
}

#video_content {
	width: 565px;
	margin: 0 auto 20px;

}


#video_title {
	color: red;
	font-size: 28px;
	margin-bottom: 20px;
	text-align: center;
}

#hero {
	padding: 40px 0;
	line-height: 30px;
}
#video_content {
	margin-bottom: 30px;
	width: 300px;
}
.help-block {
	font-size: 14px;
}
#user_office {
	padding: 20px 0;
}
#entreg a {
	color: #31322C;
	text-decoration: none;
	-webkit-transition: color 0.2s linear;
	     -moz-transition: color 0.2s linear;
	       -o-transition: color 0.2s linear;
	          transition: color 0.2s linear;
}

#entreg a:hover {
	color:#FEFEFE;
}



.hidden {
	display: none;
	/*visibility: hidden;*/
}
/*
#order_org_name {
	display: none;
}*/

#video_bg {
	background-color: #EAFEE5;
	padding: 40px 0;
	line-height: 33px;
}

#video_bg  .btn  {
	width: 280px;
}

/*#hero_title {
	color: blue;
	margin-left: 5px;
	font-size: 14px;
	font-weight: bold;
}*/

.hero_content {
	color: #1494D1;
	font-size: 20px;
	font-weight: bold;
	/*margin: 20px 0;*/
}

#hero_content2 {
	color: red;
	font-size: 19px;
	font-weight: bold;
	margin: 5px 0;
}

#hero .span4:not(#hero_btn) {
	margin-top: 40px;
	margin-left: 20px;
	/*line-height: 20px;*/
}



.error {
	color: red;
	font-size: 13px;
}

#hero_under  {
	font-size: 13px;
}

#description p {
	text-indent: 20px;
}

.control-group input[type="text"] {
	font-size: 14px;

}

#new_pass_success form{
	text-align: left;
}

.new_pass_inp input{
	 display: block;
    width: 100%;
    min-height: 30px;
    height: 44px !important;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

.title_border {
	border-bottom: 2px solid #808080;
	margin-top: 10px;
}

.bx-viewport img {
	display: block;
	margin: 0 auto;
}

#trust_bg {
	/*box-shadow: inset 2px  0 -6px 5px #000;*/
	 -moz-box-shadow:    inset 0  8px 8px -8px #696868, 
                        inset 0 -8px 8px -8px #696868;
    -webkit-box-shadow: inset 0  8px 8px -8px #696868, 
                        inset 0 -8px 8px -8px #696868;
     box-shadow:        inset 0  8px 8px -8px #696868, 
                        inset 0 -8px 8px -8px #696868;
}
/*
#reviews .span9 {
	background-image: url(/include/images/vinos.png);
	border: 2px solid #3B8D21;
	

	padding: 15px 10px 15px 15px;
}*/
#reviews_background {
	-moz-box-shadow:    inset 0  8px 8px -8px #696868, 
                        inset 0 -8px 8px -8px #696868;
    -webkit-box-shadow: inset 0  8px 8px -8px #696868, 
                        inset 0 -8px 8px -8px #696868;
     box-shadow:        inset 0  8px 8px -8px #696868, 
                        inset 0 -8px 8px -8px #696868;
}
#reviews .span2 {
	margin-left: 20px;
}


#garant_bg {
	background-image: url(/include/images/bg.jpg);
	padding: 20px 0 50px;
}
#hundred_percent {
	color: #005270;
	font-size: 22px;
	font-weight: bold;
	margin: 60px 0 20px;
	/*text-shadow: 0 0 1px #696868;*/

}

#free_water {
	color: #494B4A;
	font-size: 19px;
	line-height: 23px;
	/*text-shadow: 0 0 0 #696868;*/
	/*text-shadow: px -1px 0 #696868,
             -2px -2px 0.5px #696868;*/
}

#garant_img {
	margin-left: 18px;
}

#order_form_wrapper {
	background-color: #CDFFCC;
	box-shadow: 0 0 7px #696868;
	border-radius: 10px;
	padding: 20px;
	margin-bottom: 40px;
	position: relative;
	/*margin: 0 auto;*/
	/*display: block;*/
}

#gods_cow{
	position: absolute;
	top: 0;
	right: 0;
	width: 100px;
	height: 100px;
	background-image: url(/include/images/cow.gif);
	/*cursor: pointer;*/
}
.faq_icon {
	height: 51px;
	/*width: 60px;*/
	background-image: url(/include/images/icon.png);
	background-size: 100%;
	background-repeat: no-repeat;
}
.faq_block {
	margin-bottom: 40px;
	font-size: 16px;
}
.faq-question {
	font-weight: bold;
}

#hero_title {
	font-size: 38px;
	color: #fefefe;
	font-weight: bold;
	text-align: center;
	/*text-shadow: 2px 2px 0px #fefefe;*/
}

#hero_btn {
	margin-top: 315px;
	margin-left: 19px;
}

#full_count, #empty_count {
	width: 60px;
}
.b-top {
	z-index:2600;
	position:fixed;
	right:0;
	bottom:90px;
	width:34%;
	margin-left:50%;
	opacity: 0.7;
	filter:alpha(opacity=70);
}
.b-top:hover {
	opacity:1;
	filter:alpha(opacity=100);
	cursor:pointer;
}
.b-top-but {
	z-index:2600;
	position:absolute;
	display:block;
	right:50px;
	bottom:0;
	/*margin:0 0 0 100%;*/
	padding:32px 12px 4px;

	color:white;
	background:#D8D5C2 url(http://alaev.info/wp-content/plugins/goupbutt/b-j-top.png) no-repeat 50% 11px;
	border-radius:7px;
}

#delivery_time select{
	width: 90px;
}


#products .span4 {
	text-align: center;
	padding: 50px;
}


/*#display_cart {
	width: 400px;
	position: absolute;
	background-color: white;
	border: 1px solid #63B5DB;
	border-radius: 5px;
}*/
#display_cart table {

	margin-top: 20px;
	margin-bottom: 20px;
}
#display_cart table tr th {
	border-top: 2px solid #ccc;
	border-bottom: 2px solid #ccc;
	text-align: left;
}

#display_cart table tr td {
	text-align: left;
	border-bottom: 1px solid #ccc;

}

#display_cart table .right {
	text-align: right;
}

#display_cart table tr td select {
	width: 65px;
}