<!DOCTYPE html>
<html lang="ru">
<head>
<title>VIVA Color</title>
<link rel="stylesheet" type="text/css" href="/include/style/style.css">
<link rel="stylesheet" type="text/css" href="/include/style/counter.css">
<link rel="stylesheet" type="text/css" href="/include/style/counter.css">
<link rel="stylesheet" type="text/css" href="/include/style/jquery.countdown.css">
<link href="/include/slider/jquery.bxslider.css" rel="stylesheet" />
<!-- <script type="text/javascript" src="/include/js/jquery.min.js"></script> -->
<script type="text/javascript" src="http://code.jquery.com/jquery-1.10.2.js"></script>
<script type="text/javascript" src="/include/js/counter.js"></script>
<!-- <script src="http://code.jquery.com/jquery-1.7.1.min.js"></script> -->

<script type="text/javascript" src="/include/js/validation/jquery.validate.min.js"></script>
<script type="text/javascript" src="/include/js/jquery.countdown.js"></script>
<script type="text/javascript" src="/include/slider/jquery.bxslider.js"></script>
<script type="text/javascript" src="/include/js/script.js"></script>
<script type="text/javascript" src="/include/js/form.js"></script>
<script type="text/javascript" src="/include/js/gallery.js"></script>
<script type="text/javascript" src="/include/zoom/zoom/zoom.js"></script>
<link rel="stylesheet" type="text/css" media="all" href="/include/zoom/zoom/zoom.css" />
<!-- <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script> -->
<!-- <script type="text/javascript" src="//vk.com/js/api/openapi.js?105"></script> -->
</head>
<body>
